.hooper {
  height: 400px;

  &:focus {
    outline: none;
  }

  .hooper-list {
    .hooper-pagination {
      .hooper-indicator {
        width: 10px;
        height: 10px;
        border-radius: 50% !important;
        transition-duration: .3s;

        &:focus {
          outline: none;
        }
      }

      .hooper-indicator:hover {
        background-color: #c6c6c6;
      }

      .hooper-indicator {
        &.is-active {
          width: 15px !important;
          height: 15px !important;
          background-color: #fff !important;
        }
      }
    }
  }
}