@media(min-width: 1024px) {
  #Home {
    #intro {
      .intro-right {
        .intro-img {
          img {
            width: 40rem;
          }
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  #Home {
    #intro {
      height: 65vh;
    }
  }
}

@media(max-width: 1023px) {

  // Homepage SCSS for Ipad-pro
  #Home {
    #intro {
      height: 70vh;

      .intro-left {
        .intro-heading {
          h2 {
            font-size: 48px;
          }

          h3 {
            font-size: 32px;
          }
        }
      }
    }
  }
}

#ScreenTime {
  .screen-time-heading {
    margin-top: -5rem;
  }

  .screen-time-img {
    margin-top: -14rem;
  }
}

#SafeVideos {
  .safe-videos-heading {
    margin-top: 1rem;
  }
}

#quizzes {
  .quize-heading {
    margin-top: 2rem;
  }
}

@media(max-width: 767px) {
  h2 {
    font-size: 42px !important;
    line-height: 48px;
  }

  h3 {
    font-size: 28px !important;
    line-height: 38px;
  }

  // Homepage SCSS for Ipad
  #Home {
    #ScreenTime {
      .screen-time-heading {
        margin-top: -3rem;
        text-align: center;
      }

      .screen-time-btn {
        text-align: center;
      }
    }

    #SafeVideos {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      background-color: $color-primary;
      padding-top: 0;

      &::before {
        bottom: 98%;
      }

      .row {
        flex-direction: column-reverse;

        .safe-videos-heading {
          text-align: center;
        }

        .safe-videos-btn {
          text-align: center;
        }

        .safe-videos-img {
          margin-top: 0;
          padding-bottom: 0;
        }
      }
    }

    #quizzes {
      .quize-heading {
        margin-top: 0;
        text-align: center;
      }

      .quize-btn {
        text-align: center;
      }
    }

    #intro {
      background-image: unset !important;
      background-color: $color-primary;

      .hooper {
        height: 600px;

        .hooper-pagination {
          bottom: 2rem;
        }
      }

      .row {
        flex-direction: column-reverse;

        .intro-left {
          text-align: center;

          .intro-heading {
            margin-top: -2rem;

          }

          .intro-btn {
            margin-top: 10px;
          }

          .intro-img {
            img {
              max-width: 30rem;
            }
          }
        }
      }
    }
  }

  #Concept {
    #PerfectExcuse {
      .row {
        flex-direction: column-reverse;
      }
    }
  }
}

@media(max-width: 580px) {
  h2 {
    font-size: 36px !important;
    line-height: 48px !important;
  }

  h3 {
    font-size: 28px;
    line-height: 38px;
  }

  #Home {

    #intro {
      height: 100vh !important;
      padding-top: 70px !important;

      .hooper {
        height: 720px;

        .hooper-pagination {
          bottom: 8rem;
        }
      }

      .row {
        .intro-right {
          .intro-img {
            margin-top: 5rem;
          }
        }
      }
    }

    #ScreenTime {
      .screen-time-heading {
        margin-top: 20px;
        text-align: center;
      }

      .screen-time-btn {
        text-align: center;
      }
    }

    #SafeVideos {
      padding: 5rem 0;

      &::before {
        bottom: 98%;
      }

      .safe-videos-heading {
        margin-top: 20px !important;
        text-align: center;
      }

      .safe-videos-img {
        margin-top: 2rem !important;
        padding-bottom: 0;
      }

      .safe-videos-btn {
        text-align: center;
      }
    }

    #quizzes {
      .quize-heading {
        margin-top: 20px;
        text-align: center;
      }

      .quize-btn {
        text-align: center;
      }
    }

    #callout {
      .callout-heading {
        h2 {
          font-size: 36px;
        }
      }
    }

    #footer {
      .copyright-sentence {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media(max-width: 375px) {
  #Home {
    #intro {
      padding: 0 0 !important;

      .hooper {
        height: 700px;
      }
    }
  }
}

@media(max-width: 320px) {
  #Home {
    #intro {
      align-items: unset !important;
      padding: 1rem 0 !important;

      .hooper {
        height: 660px;
      }
    }
  }
}